<!DOCTYPE html>
<html>
<head>       
<link rel="stylesheet" href="<%= asset_path('problem3.css') %>">
<title>About Page</title>
</head>
<body>
    
    <%= link_to "Home", root_path, class: "btn btn-primary" %>
    <%= link_to "work", work_path, class: "btn btn-primary" %>
    <%= link_to "contact", contact_path, class: "btn btn-primary" %>

<h1>About Me</h1>
<div class="container">

<h2>Name:</h2> <p>Vivian</p>
<h2>Profession:</h2> <p>Aspiring Software Developer</p>
<h2>Languages:</h2> <p>JS, 
                        Python,
                        C/C++,
                        SQL,
                        Ruby</p>

<h2>Education Background:</h2> <p>Current Junior at the University of Memphis studying Computer Science with an interest in a Master's Degree in Computer Science.
</p>

<h2>Classes:</h2> <p>Intro to Programming,
                    Intro to Software Engineering,
                    Software Engineering,
                    Computer Architecture,
                    Operating Systems</p>
<h2>Conclusion:</h2> <p>As I continue throughout my major, I am developing various websites to interest people in different groups.
As a student, I am a dynamic and motivated individual with a bright future ahead in the field of software development. 
</p>

</div>

</body>
</html>