<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="<%= asset_path('problem3.css') %>">
<title>My Contact</title>
</head>
<body>
<%= link_to "Home", root_path, class: "btn btn-primary" %>
    <%= link_to "work", work_path, class: "btn btn-primary" %>
    <%= link_to "about", about_path, class: "btn btn-primary" %>
    <h1>Contact Information</h1>
<div class="container3">
    <div class="container2">
        <h2>Name:</h2><p>Vivian Ly</p>
        <h2>Email:</h2><p>vivian@gmail.com</p>
        <h2>Phone Number:</h2><p>(901)123-4567</p>
        <h2>School:</h2><p>University of Memphis</p>
    </div>
</div>

</body>
</html>