<!DOCTYPE html>
<html>
<head>
<title>Vivian's Web Developer</title>
<link rel="stylesheet" href="<%= asset_path('problem2.css') %>">
</head>

<div >
    <%= link_to "about", about_path, class: "btn btn-primary" %>
    <%= link_to "work", work_path, class: "btn btn-primary" %>
    <%= link_to "contact", contact_path, class: "btn btn-primary" %>
</div>
<body>
    <h1>Web Developer
        ~~~~~~~~~~~~~~~~~~~~~~~</h1>
    <h2>Focus on STEM
        ~~~~~~~~~~~~~~~~~~~~~~~ Code Development~~~~~~~~~~~~~~~~~~~~~~~
        Design Development~~~~~~~~~~~~</h2>

<div class="container3">
    <div class="container2">
    <p >
        Hello, I am a beginner coder interested in the various STEM related subjects. I want to explore interests within gaming, website development, and designing websites as well. I hope to find more people interested within web development to continue further developing the projects I create!
    </p>
    </div>
</div>
</body>
</html>